@use '../../../styles/breakpoint.scss';

.wrapper {
  width: 100vw;
  min-height: 100vh;
  background: #f0f2f5;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;

  .row {
    width: 100%;

    .card {
      padding: 70px 20px;
      border-radius: 25px;
      padding: 40px;
      background: white;
      min-height: 90vh;

      .right {
        display: none;

        img {
          height: auto;
          margin: 0 auto;
          width: 100%;
          max-width: 300px;
        }

        a {
          font-weight: 400;
          text-decoration: underline;
          display: block;
          text-align: center;
          font-size: 18px;
        }
      }

      .left {
        h2 {
          font-size: 40px;
        }

        .btn-register {
          margin-top: -12px;
          text-align: center;
        }

        button {
          width: 100%;
        }

        .login {
          display: block;
          margin: 36px;
          font-weight: 400;
          text-decoration: underline;
          text-align: center;
          font-size: 18px;
        }
      }
    }
  }

  @include breakpoint.md {
    .row {
      .card {
        padding: 70px;
        min-height: fit-content;

        .right {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
        }

        .left {
          .login {
            display: none;
          }
        }
      }
    }
  }
}
