.content {
  padding: 20px 30px;

  .tablist {
    display: flex;
    margin-bottom: 20px;
    border-bottom: 1px solid #dee0e3;

    .tab-item {
      font-weight: 600;
      padding: 12px;
      cursor: pointer;

      &.active {
        color: #1677ff;
        border-bottom: 2px solid #1677ff;
      }
    }
  }
}
