@use '../../styles/breakpoint.scss';

.content {
  padding: 24px 0;
  display: flex;
  justify-content: space-evenly;

  .post-view {
    width: 500px;
  }
  .suggest-friend {
    width: 300px;
    display: none;
  }

  @include breakpoint.lg {
    .suggest-friend {
      display: block;
    }
  }
}
