.content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: calc(100vw - 600px);
  padding: 0 16px;

  .header {
    height: 80px;
    margin: 0 -16px;
    padding: 16px;
    border-bottom: 1px solid #dcdcdc;
    display: flex;
    justify-content: space-between;

    .left {
      display: flex;
      align-items: center;
      gap: 10px;
      font-weight: 800;
      font-size: 18px;

      img {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 50%;
        background: white;
      }
    }
    .right {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

  .list-message {
    flex: 1;
    display: flex;
    gap: 5px;
    flex-direction: column-reverse;
    overflow-y: scroll;
    margin-right: -16px;
    padding-right: 16px;

    .message-row {
      display: flex;
      gap: 10px;

      img {
        width: 30px;
        height: 30px;
        object-fit: cover;
        border-radius: 50%;
        background: white;
      }

      .message {
        word-wrap: break-word;
        width: fit-content;
        max-width: 500px;
        background-color: #efefef;
        padding: 6px 12px;
        border-radius: 16px;

        &.self {
          background-color: #0084ff;
          word-wrap: break-word;
          margin-left: auto;
          color: #fff;
        }
      }
    }
  }

  .input-chat-section {
    padding: 10px 0;
    display: flex;
    gap: 10px;
    align-items: center;

    div[contentEditable='true'] {
      width: calc(100% - 80px);
      border: 1px solid #dbdbdb !important;
      border-radius: 999px;
      padding: 10px 20px;
      outline: 0px solid transparent;
      word-wrap: break-word;

      &[placeholder]:empty:before {
        content: attr(placeholder);
        color: #555;
      }
    }

    .btn-send-message {
      font-size: 16px;
      font-weight: 600;
      color: #1677ff;
      cursor: pointer;
    }
  }
}
